<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Видео галерея</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body>
    <header>
        <a class="logo" href="#"><img alt="Переход на главную страницу" title="Переход на главную страницу" src="../images/content/logo.png"/></a>
        <a href="#" class="double-border-button">Sign In / Sign Up</a>
    </header>
    <section id="containerAll">
        <article id="containerHomePage">

            <div id="containerListMovie">

              <!-- <a href="#" class="item_movie">
                   <div >
                        <img src="http://placehold.it/200x319" alt ="логотип фильма" />
                        <p class="title_item">Title</p>
                        <p class="vote_item">50</p>
                        <p class="release_item">2021</p>

                    </div>
               </a>
               <a href="#" class="item_movie">
                   <div >
                        <img src="http://placehold.it/200x319" alt ="логотип фильма" />
                        <p class="title_item">Title</p>
                        <p class="vote_item">50</p>
                        <p class="release_item">2021</p>

                    </div>
               </a>
               <a href="#" class="item_movie">
                   <div >
                        <img src="http://placehold.it/200x319" alt ="логотип фильма" />
                        <p class="title_item">Title</p>
                        <p class="vote_item">50</p>
                        <p class="release_item">2021</p>

                    </div>
               </a>
               <a href="#" class="item_movie">
                   <div >
                        <img src="http://placehold.it/200x319" alt ="логотип фильма" />
                        <p class="title_item">Title</p>
                        <p class="vote_item">50</p>
                        <p class="release_item">2021</p>

                    </div>
               </a>
               <a href="#" class="item_movie">
                   <div >
                        <img src="http://placehold.it/200x319" alt ="логотип фильма" />
                        <p class="title_item">Title</p>
                        <p class="vote_item">50</p>
                        <p class="release_item">2021</p>

                    </div>
               </a>
               <a href="#" class="item_movie">
                   <div >
                        <img src="http://placehold.it/200x319" alt ="логотип фильма" />
                        <p class="title_item">Title</p>
                        <p class="vote_item">50</p>
                        <p class="release_item">2021</p>

                    </div>
               </a>
               <a href="#" class="item_movie">
                <div >
                     <img src="http://placehold.it/200x319" alt ="логотип фильма" />
                     <p class="title_item">Title</p>
                     <p class="vote_item">50</p>
                     <p class="release_item">2021</p>

                 </div>
            </a>
            <a href="#" class="item_movie">
                <div >
                     <img src="http://placehold.it/200x319" alt ="логотип фильма" />
                     <p class="title_item">Title</p>
                     <p class="vote_item">50</p>
                     <p class="release_item">2021</p>

                 </div>
            </a>
            <a href="#" class="item_movie">
                <div >
                     <img src="http://placehold.it/200x319" alt ="логотип фильма" />
                     <p class="title_item">Title</p>
                     <p class="vote_item">50</p>
                     <p class="release_item">2021</p>

                 </div>
            </a>
            <a href="#" class="item_movie">
                <div >
                     <img src="http://placehold.it/200x319" alt ="логотип фильма" />
                     <p class="title_item">Title</p>
                     <p class="vote_item">50</p>
                     <p class="release_item">2021</p>

                 </div>
            </a>
            <a href="#" class="item_movie">
                <div >
                     <img src="http://placehold.it/200x319" alt ="логотип фильма" />
                     <p class="title_item">Title</p>
                     <p class="vote_item">50</p>
                     <p class="release_item">2021</p>

                 </div>
            </a>
            <a href="#" class="item_movie">
                <div >
                     <img src="http://placehold.it/200x319" alt ="логотип фильма" />
                     <p class="title_item">Title</p>
                     <p class="vote_item">50</p>
                     <p class="release_item">2021</p>

                 </div>
            </a>
            <a href="#" class="item_movie">
                <div >
                     <img src="http://placehold.it/200x319" alt ="логотип фильма" />
                     <p class="title_item">Title</p>
                     <p class="vote_item">50</p>
                     <p class="release_item">2021</p>

                 </div>
            </a>
            <a href="#" class="item_movie">
                <div >
                     <img src="http://placehold.it/200x319" alt ="логотип фильма" />
                     <p class="title_item">Title</p>
                     <p class="vote_item">50</p>
                     <p class="release_item">2021</p>

                 </div>
            </a>
            <a href="#" class="item_movie">
                <div >
                     <img src="http://placehold.it/200x319" alt ="логотип фильма" />
                     <p class="title_item">Title</p>
                     <p class="vote_item">50</p>
                     <p class="release_item">2021</p>

                 </div>
            </a>
            <a href="#" class="item_movie">
                <div >
                     <img src="http://placehold.it/200x319" alt ="логотип фильма" />
                     <p class="title_item">Title</p>
                     <p class="vote_item">50</p>
                     <p class="release_item">2021</p>

                 </div>
            </a>
            <a href="#" class="item_movie">
                <div >
                     <img src="http://placehold.it/200x319" alt ="логотип фильма" />
                     <p class="title_item">Title</p>
                     <p class="vote_item">50</p>
                     <p class="release_item">2021</p>

                 </div>
            </a>
            <a href="#" class="item_movie">
                <div >
                     <img src="http://placehold.it/200x319" alt ="логотип фильма" />
                     <p class="title_item">Title</p>
                     <p class="vote_item">50</p>
                     <p class="release_item">2021</p>

                 </div>
            </a>
            <a href="#" class="item_movie">
                <div >
                     <img src="http://placehold.it/200x319" alt ="логотип фильма" />
                     <p class="title_item">Title</p>
                     <p class="vote_item">50</p>
                     <p class="release_item">2021</p>

                 </div>
            </a>
            <a href="#" class="item_movie">
                <div >
                     <img src="http://placehold.it/200x319" alt ="логотип фильма" />
                     <p class="title_item">Title</p>
                     <p class="vote_item">50</p>
                     <p class="release_item">2021</p>

                 </div>
            </a>-->
            </div>

            <div id="container_pagination">
         <!--    <ul class="pagination">
                    <li><a class="page_prev">‹ Предыдущая</a></li>
                    <li><a class="page_activ">1</a></li>
                    <li><a>2</a></li>
                    <li><a class="exppages">...</a></li>
                    <li><a>9</a></li>
                    <li><a>10</a></li>
                    <li><a class="page_next">Следующая ›</a></li>
             </ul>  --> 
            </div>

        </article>

    </section>
</body>
