/* By Athlon Front-End Team */

/* Core variables */
@import "base/vars";

/* CSS normalaze */
@import "base/normalaze";

/* CSS print */
@import "base/print";

/* Fonts */


/* Mixins, helpers and functions */
@import "base/mixins";

/* Vendor */

/* Components */

/* Browser specific styles */
@import "dirty/hacks";

@import "components/header";
@import "components/main_page";
@import "components/preloader.scss";
@import "components/pagination";
@import "components/about_film";
@import "components/form";
@import "components/page404";
@import "components/style";

html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}
main{
    position: relative;
     min-height: 100vh;

}



